<!DOCTYPE html>
html(lang="en")
	head
		meta(charset="UTF-8")
		meta(name="viewport" content="width=device-width, initial-scale=1")
		title Fishtank Controller
		link(rel="stylesheet", href="/css/styles.css", type='text/css')
		link(rel="stylesheet", href="/css/w3.css", type='text/css')
	body
		div.w3-panel.w3-padding-16.w3-center(style='max-width:768px;')
			h1 List of Events
			div.w3-bar.w3-light-grey
				a.w3-bar-item.w3-border-right.w3-button(href="http://192.168.100.50:8080") Home
				a.w3-bar-item.w3-border-right.w3-button(href="http://192.168.100.50:8080/showWaterParms.html") Water Parameters
				a.w3-bar-item.w3-button(href="http://192.168.100.50:8080/addEvent.html") Add Event
			br
			p
			div
				table
					thead
						tr 
							td(style="width:100px") Date 
							td(style="width:60px") Time 
							td Comment
					tbody
						each row, i in rows
							if row.waterCondID
								tr(class="wpLink")
									if row.waterCondID
										td
											a(href="http://192.168.100.50:8080/showWaterParms.html") #{row.eventDate} 
										td 
											a(href="http://192.168.100.50:8080/showWaterParms.html") #{row.eventTime}
										td 
											a(href="http://192.168.100.50:8080/showWaterParms.html") #{row.eventComment}
									else
										td #{row.eventDate}
										td #{row.eventTime} 
										td #{row.eventComment}
							else
								tr(class=(i % 2 == 0) ? 'odd' : 'even')
									td #{row.eventDate}
									td #{row.eventTime} 
									td #{row.eventComment}
			p
